@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/*Основные настройки страниц*/
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    background-color: gray;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.wrapper {
    min-height: 100%;
    padding-bottom: 80px;
}

footer {
    padding: 20px 0;
    border-top: #666 solid 3px;
    background-color: #333;
    color: white;
    height: 80px;
    margin-top: -80px;
}

a {
    color: white;
    transition: color 300ms ease;
    text-decoration: none;
}
a:hover {color: darkgray}

hr {
    margin: 20px 0;
    border: none; /* Убираем границу для браузера Firefox */
    color: darkgray; /* Цвет линии для остальных браузеров */
    background-color: darkgray; /* Цвет линии для браузера Firefox и Opera */
    height: 2px; /* Толщина линии */
}

h1, h3 {
    margin-bottom: 20px;
    font-weight: 700;
}


/*Шапка сайта*/
header {
    border-bottom: #666 solid 3px;
    padding: 10px 0;
    color: white;
    background-color: #333;
    margin-bottom: 30px;
    min-height: 100px;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.menu a {padding: 0 0 0 10px}
.menu ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin: 5px 5px;
    padding-left: 0;
}
.menu div {text-align: right}

.logo {font-size: 38px}
.logo i {
    color: #de3646;
    font-size: 38px;
}
.logo:hover {color: white}


/*Формы*/
.form-section {
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 50%);
    border-radius: 5px;
    color: white;
    background-color: #333;
    margin: 20px 0;
    padding: 20px;
}
.form-section a {
    color: #de3646;
    transition: color 300ms ease;
    text-decoration: none;
}
.form-section a:hover {color: darkgray}
.form-section > div {display: flex}
.form-section img {
    border-radius: 50px;
    width: 64px;
    height: 64px;
    margin-right: 20px;
    margin-bottom: 20px;
}
form .helptext {
    font-size: 13px;
    color: #999;
    display: table;
}
form .helptext ul {
    list-style: none;
    margin-bottom: 0;
}
form .errorlist {
    font-size: 13px;
    color: #de3646;
    margin-bottom: 10px;
    margin-left: 15px;
}
form p, form div {
    margin-bottom: 15px;
    width: 100%;
}
form label {
    margin-top: 10px;
}
form button {
    margin-top: 10px;
}
form input {
    display: block;
    width: 100%;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 14px;
}
form br {
    display: none;
}
form textarea {
    display: block;
    resize: vertical;
    width: 100%;
    height: 80px;
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid silver;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}
input[type="checkbox"] {
    display: inline;
    width: 25px;
}
input[type="file"] {
    margin: 5px 0;
    border: gray solid 1px;
    cursor: pointer;
    background-color: dimgray;
    color: black;
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 50%);
}
#id_gender {
    margin-left: 10px;
    height: 30px;
    width: 150px;
    color: black;
    border: gray solid 1px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 50%);
    background: white;
}


/*Списки*/
.link {
    border: #555 solid 1px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #999;
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 25%);
}
.link ul {
    list-style: none;
    display: table;
    width: 100%;
    padding-left: 0;
}
.link ul li {
    padding: 10px;
    margin-bottom: 10px;
    background: #ddd;
    border-radius: 5px;
    border: #555 solid 1px;
    cursor: pointer;
    transition: all 200ms ease;
}
.link ul li:hover {background: silver}
.link ul li button {
    float: left;
    border: none;
    background: none;
    margin-top: 0;
}
.link ul li i {
    font-size: 18px;
    transition: all 200ms ease;
    margin-right: 10px;
}
.link ul li i:hover {color: #de3646}
.link ul li div {
    margin: 0 30px 0 30px;
    width: 90%;
}
.link ul a {
    color: black;
    transition: color 5ms ease;
}
.link ul a:hover {color: #444}
.link-info {
    background: #666;
    padding: 10px;
    border-radius: 5px;
}


/*Главная страница*/
.main {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}
.project {
    width: 300px;
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 50%);
    border-radius: 5px;
    color: white;
    background-color: #333;
    padding: 20px 20px 5px 20px;
    transition: all 300ms ease;
    margin-bottom: 15px;
}
.project img {
    width: 100%;
    height: 180px;
    border: black solid 1px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgb(5 5 5 / 50%);
    transition: all 300ms ease;
    background-color: silver;
    margin-bottom: 5px;
}
.project:hover img {transform: scale(1.02)}
.project p {
    transition: all 300ms ease;
    margin-left: 3px;
}
.project:hover p {color: #ccc}
.project:hover {background-color: #393939}


/*Всплывающее уведомление (1 сек) - main.js*/
.alert {
    background: orange;
    border: darkorange solid 1px;
    margin-bottom: 15px;
    padding: 10px 20px;
    border-radius: 5px;
}


/*Список дел*/
.form-check-input,
.form-check-label {
    cursor: pointer;
    padding-left: 15px;
}
.task-add-info {
    margin: 20px 0;
    display: none;
}
.tasks {
    display: none;
}
.task-p {display: flex}


/*Камень, ножницы, бумага*/
.rsp-img {
    width: 180px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.rsp-btn {
    border: None;
    background: None;
}
.rsp-div {
    display: flex;
    flex-wrap: wrap;
}


/*Адаптация для меленьких экранов*/
@media (max-width: 767px) {
    .menu {justify-content: center}
    .menu a {padding: 0 5px}
    .menu ul {justify-content: center}
    .menu div {text-align: center}
    .main {
        align-items: center;
        justify-content: center;
    }
    .rsp-div {
        align-items: center;
        justify-content: center;
    }
    .rsp-small {text-align: center}
}